<dropdown-menu class="floats right">
  <span class="material-icons md-24">more_vert</span>
  <menu>
    <ul class="std">
      <li><%= link_to t('buttons.show'), [resource] %></li>
    </ul>
  </menu>
</dropdown-menu>
