<div style="padding:8em 0 6em;background:var(--color-orange-light);position:absolute;width:100%;left:0;top: 0;z-index:-1;" class="d-flex justify-content-center">
  <div style="width:calc(var(--main-width) - 2em);color:white;margin:0 auto;">
    <div class="trimt" style="font-size:3em;font-weight:700;line-height:1.2;"><%= @profile.owner.username %></div>
    <div class="trimt"><%= @profile.owner.email %></div>
  </div>
</div>
<div style="height:16em"></div>
