<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hallo, <%= @user.firstname %>!</h3>
    <p>
      Dein Kundenkonto wurde von einem Administrator wieder entsperrt. Viel Spaß weiterhin!
    </p>
  </body>
</html>
