<%= link_to I18n.t('buttons.back'), :back, class: 'btn btn-light mb-3' %>
<div class="text-center">
  <span><%= @list.name %></span>
  <h3><%= t('fields.history') %></h3>
</div>
<% @versions.each do |version| %>
  <%= render 'profiles/lists/versions/version', resource: version %>
<% end %>
