<dropdown-menu class="floats right">
  <span class="material-icons md-24">more_vert</span>
  <menu>
    <ul class="std">
      <li><%= link_to 'âœï¸ ' + t('buttons.edit'), [:edit, resource.list.ownable.profile, resource.list, resource] %></li>
      <li><%= button_to 'ðŸ—‘ï¸ ' + t('buttons.delete'), [resource.list.ownable.profile, resource.list, resource], method: :delete %></li>
    </ul>
  </menu>
</dropdown-menu>
