<%= link_to t('buttons.back'), :back, class: 'btn btn-light mb-3' %>
<div class="text-center">
  <h3>Liste erstellen</h3>
</div>
<div class="card mb-3">
  <div class="card-body">
    <%= render 'form', resource: @list, url: [@profile, :lists] %>
  </div>
</div>
